{% extends "base/layout.html" %} <br />

{% block head %}
<title>Moordule</title>
{% endblock head %} <br />

{% block content %}
<div class="bg-gray-100 flex justify-center items-center min-h-screen">
  <!-- Pricing Section -->
  <div class="text-center">
    <h1 class="text-3xl font-bold mb-8">揪好友方案</h1>
    <div class="flex flex-col md:flex-row gap-8 justify-center items-center">
      <!-- Card 1 -->
      <div>
        <div class="bg-moordule-deep-blue text-white-shadow rounded-2xl shadow-lg p-6 w-72">
          <h2 class="text-lg font-semibold mb-2">初來乍到 想試揪</h2>
          <p class="text-5xl font-bold mb-2">
            $199<span class="text-xl">NTD</span>
          </p>
          <p class="text-sm text-gray-100 mb-4">for 1+1 揪</p>
          <hr class="border-t-2 border-white mb-4" />
          <ul class="text-center text-sm">
            <li>✔ 可參加聚會次數：一次</li>
            <li>✔ 可創建聚會次數：一次</li>
          </ul>
        </div>
        <a href="{% url 'cashflows:request_payment_a' %}">
        <button
          class="bg-moordule-deep-blue text-white-shadow text-sm font-bold py-2 px-6 rounded-full shadow-lg transition duration-300 hover:bg-blue-700 focus:ring focus:ring-blue-800 mt-6 transform hover:scale-150"
        >
          - JOIN -
        </button>
        </a>
      </div>

      <!-- Card 2 -->
      <div>
        <div class="bg-moordule-pink text-white-shadow rounded-2xl shadow-lg p-10 w-72">
          <h2 class="text-lg font-semibold mb-2">三五成群 長長久久</h2>
          <p class="text-5xl font-bold mb-2">
            $699<span class="text-xl">NTD</span>
          </p>
          <p class="text-sm text-white-shadow mb-4">for 3+2 揪</p>
          <hr class="border-t-2 border-white mb-4" />
          <ul class="text-center text-sm">
            <li>✔ 可參與聚會次數：三次</li>
            <li>✔ 可創建聚會次數：兩次</li>
          </ul>
        </div>
        <a href="{% url 'cashflows:request_payment_b' %}">
          <button
            class="bg-moordule-pink text-white-shadow text-sm font-bold py-2 px-6 rounded-full shadow-lg transition duration-300 hover:bg-red-500 focus:ring focus:ring-red-500 mt-6 transform hover:scale-150"
          >
            - JOIN -
          </button>
        </a>
      </div>

      <!-- Card 3 -->
      <div>
        <div class="bg-moordule-yellow text-white-shadow rounded-2xl shadow-lg p-6 w-72">
          <h2 class="text-lg font-semibold mb-2">好揪就要 一直揪</h2>
          <p class="text-5xl font-bold mb-2">
            $1,399<span class="text-xl">NTD</span>
          </p>
          <p class="text-sm text-white-shadow mb-4">for 9+6 揪</p>
          <hr class="border-t-2 border-white mb-4" />
          <ul class="text-center text-sm">
            <li>✔ 可參加聚會次數：九次</li>
            <li>✔ 可建立聚會次數：六次</li>
          </ul>
        </div>
        <a href="{% url 'cashflows:request_payment_c' %}">
        <button
          class="bg-moordule-yellow text-white-shadow text-sm font-bold py-2 px-6 rounded-full shadow-lg transition duration-300 hover:bg-yellow-500 focus:ring focus:ring-yellow-600 mt-6 transform hover:scale-150"
        >
          - JOIN -
        </button>
      </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
