{% extends "base/layout.html" %}{% block content %} 
<nav class="navbar">
    <div class="logo">
        <img src="logo.png" alt="MOODGELE Logo">
        <img src="logo-word.png" alt="Moordule 多揪" class="logo">
    </div>
    <div class="nav-links">
        <div class="search-bar">
            <input type="text" placeholder="我想要揪...">
            <i class="fi fi-rr-search-heart"></i>
        </div clas="nav-links">
        <a href="#" class="active">活動</a>
        <a href="#" class="mypage">我的頁面</a>
        <a href="#" class="logout">登出</a>
    </div>
</nav>
<div class="flex-auto">
    <div class="text-fuchsia-600">
        <h1>plan A</h1>
        <button>Join</button>
    </div>
    <div>
        <h1>plan A</h1>
        <button>Join</button>
    </div>
    <div><h1>plan A</h1>
        <button>Join</button>
    </div>
</div>


{% endblock content %}
