argcomplete==3.5.3
asgiref==3.8.1
attrs==24.3.0
autobahn==24.4.2
Automat==24.8.1
certifi==2024.12.14
cffi==1.17.1
cfgv==3.4.0
channels==4.2.0
charset-normalizer==3.4.1
colorama==0.4.6
commitizen==4.1.0
constantly==23.10.4
cryptography==44.0.0
daphne==4.1.2
decli==0.6.2
distlib==0.3.9
dj-database-url==0.5.0
Django==5.1.4
django-allauth==65.3.1
django-google-maps==0.13.0
django-htmx==1.21.0
Faker==33.3.0
filelock==3.16.1
gunicorn==23.0.0
hyperlink==21.0.0
identify==2.6.5
idna==3.10
incremental==24.7.2
Jinja2==3.1.5
MarkupSafe==3.0.2
-e git+https://github.com/astrocamp/18th-Moordule.git@44043d5a9cf8ce0d229ad9f423f21dd0f8e3215d#egg=moordule
nodeenv==1.9.1
packaging==24.2
pillow==11.1.0
platformdirs==4.3.6
pre_commit==4.0.1
prompt_toolkit==3.0.48
psycopg==3.2.3
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PyJWT==2.10.1
pyOpenSSL==24.3.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
PyYAML==6.0.2
questionary==2.1.0
requests==2.32.3
service-identity==24.2.0
setuptools==75.7.0
six==1.17.0
sqlparse==0.5.3
termcolor==2.5.0
tomlkit==0.13.2
Twisted==24.11.0
txaio==23.1.1
typing_extensions==4.12.2
urllib3==2.3.0
virtualenv==20.28.1
wcwidth==0.2.13
whitenoise==6.8.2
zope.interface==7.2
