<section id="top" class="relative pt-20">
  <div class="w-[100vw] h-[60vh] overflow-hidden relative">
    <!-- 圖片容器 - 新增 w-full 確保寬度正確 -->
    <div
      id="carousel"
      class="flex w-full transition-transform duration-1000 ease-in-out"
    >
      <!-- 每張圖片都需要完整的寬度 -->
      <div class="min-w-full hidden sm:block"> <!-- 僅在非小螢幕顯示 -->
        <a href="https://moordule.com/activities/102/join/">
        <img
          src="/static/images/Music_festival.png"
          alt="chinese new year 1"
          class="w-full h-[60vh] object-cover"
        />
        </a>
      </div>
      <div class="min-w-full hidden sm:block"> <!-- 僅在非小螢幕顯示 -->
        <a href="https://moordule.com/activities/101/join/">
        <img
          src="/static/images/Fresh_shrimp.png"
          alt="chinese new year 2"
          class="w-full h-[60vh] object-cover"
        />
        </a>
      </div>
      <div class="min-w-full hidden sm:block"> <!-- 僅在非小螢幕顯示 -->
       <a href="https://moordule.com/activities/100/join/">
        <img
          src="/static/images/Aerial_yoga.png"
          alt="chinese new year 3"
          class="w-full h-[60vh] object-cover"
        />
        </a>
      </div>

      <!-- 替代圖片（適用於小螢幕） -->
      <div class="min-w-full block sm:hidden"> <!-- 僅在小螢幕顯示 -->
      <a href="https://moordule.com/activities/102/join/">
        <img
          src="/static/images/Music_festival_sm.png"
          alt="Music festival sm"
          class="w-full h-[60vh] object-cover"
        />
        </a>
      </div>
      <div class="min-w-full block sm:hidden"> <!-- 僅在小螢幕顯示 -->
      <a href="https://moordule.com/activities/101/join/">
        <img
          src="/static/images/Fresh_shrimp_sm.png"
          alt="Fresh shrimp sm"
          class="w-full h-[60vh] object-cover"
        />
        </a>
      </div>
      <div class="min-w-full block sm:hidden"> <!-- 僅在小螢幕顯示 -->
      <a href="https://moordule.com/activities/100/join/">
        <img
          src="/static/images/Aerial_yoga_sm.png"
          alt="Aerial yoga sm"
          class="w-full h-[60vh] object-cover"
        />
        </a>
      </div>
    </div>
  </div>

  <!-- 圖片切換點 -->
  <div
    class="absolute bottom-4 left-1/2 transform -translate-x-1/2 flex space-x-2"
  >
    <span class="dot w-3 h-3 bg-white rounded-full cursor-pointer"></span>
    <span class="dot w-3 h-3 bg-gray-400 rounded-full cursor-pointer"></span>
    <span class="dot w-3 h-3 bg-gray-400 rounded-full cursor-pointer"></span>
  </div>
</section>
