{% if messages %}
<div
  x-data="{ show: true }"
  x-show="show"
  x-init="setTimeout(() => show = false, 2000)"
  x-transition
  class="fixed inset-0 flex items-start justify-center pt-16 z-50"
  style="background-color: rgba(0, 0, 0, 0.1)"
>
<ul class="space-y-4">
  {% for message in messages %}
  <li class="relative w-auto max-w-sm rounded-lg shadow-lg overflow-hidden">
    <div class="bg-moordule-light-blue p-4">
    </div>
    <!-- 下半部分 -->
    <div class="bg-white p-4">
      <p class="text-black text-center">{{ message }}
        <button
        @click="show = false"
        class="ml-4 text-black hover:text-gray-200 text-lg"
        aria-label="Close"
      >
        &times;
      </button>
      </p>

    </div>
  </li> 
    {% endfor %}
  </ul>
</div>
{% endif %}