<nav
	id="user-navigator"
	class="space-x-5 flex justify-center items-center mt-5 mx-auto w-max pt-20"
	x-data="{ 
        active: window.location.pathname.split('/')[2] || 'member',
        init() {
            window.addEventListener('popstate', () => {
                this.active = window.location.pathname.split('/')[2] || 'member';
            });
        }
    }"
	x-init="init()"
>
	{% for item in nav_items %}
	<!-- prettier-ignore -->
	<a
        :key="{{ item.name }}"
        {% if item.url %}
        hx-get="{% url 'users:user_page' item.url %}"
        {% else %}  
        hx-get="{% url 'users:account' %}"
        {% endif %}
        hx-target="#main-content"
        hx-push-url="true"
    >
        <button
            x-data="{ itemName: '{{ item.name }}' }"
            @click="active = itemName"
            class="px-6 py-3 rounded-full hover:bg-yellow-500 text-white-shadow text-xl"
            :class="{ 'bg-yellow-500': active === itemName, 'bg-yellow-300': active !== itemName }"
        >
            {{ item.title }}
        </button>
    </a>
	{% endfor %}
</nav>
