<nav
	class="space-x-5 flex justify-center items-center mt-5 mx-auto w-max pt-20"
	x-data="{ activeButton: '{{ current_tag }}' }"
>
	{% for item in nav_items %}
	<!-- prettier-ignore -->
	<a
        {% if item.url %}
        hx-get="{% url 'users:user_page' item.url %}"
        {% else %}
        hx-get="{% url 'users:account' %}"
        {% endif %}
        hx-target="#main-content"
        hx-push-url="true"
    >
        <button
            @click="activeButton = '{{ item.name }}'"
            class="px-6 py-3 rounded-full hover:bg-yellow-500 text-white text-xl"
            :class="activeButton === '{{ item.name }}' ? 'bg-yellow-500' : 'bg-yellow-300'"
        >
            {{ item.title }}
        </button>
   </a>
	{% endfor %}
</nav>
