<div class="rounded-[24px] bg-white shadow-md p-4 ">
	
{% comment %} ----- {% endcomment %}
	<div class="mb-4 h-40 relative">
		<div class="absolute inset-0 bg-gray-200 rounded-[24px] overflow-hidden">
			{% if meetup.activity.photo %}
			<img
				src="{{ meetup.activity.photo.url }}"
				alt="{{ meetup.activity.title }}"
				class="w-full h-full object-cover"
				loading="lazy"
			/>
			
			{% else %}
			<div class="w-full h-full flex items-center justify-center">
				<span class="text-gray-400">
					<svg
						xmlns="http://www.w3.org/2000/svg"
						fill="none"
						viewBox="0 0 24 24"
						stroke-width="1.5"
						stroke="currentColor"
						class="w-12 h-12"
					>
						<path
							stroke-linecap="round"
							stroke-linejoin="round"
							d="M2.25 15.75l5.159-5.159a2.25 2.25 0 013.182 0l5.159 5.159m-1.5-1.5l1.409-1.409a2.25 2.25 0 013.182 0l2.909 2.909m-18 3.75h16.5a1.5 1.5 0 001.5-1.5V6a1.5 1.5 0 00-1.5-1.5H3.75A1.5 1.5 0 002.25 6v12a1.5 1.5 0 001.5 1.5zm10.5-11.25h.008v.008h-.008V8.25zm.375 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z"
						/>
					</svg>
				</span>
			</div>
			{% endif %}
		</div>
		
	</div>
	{% comment %} 照片 {% endcomment %}

	
	
	<div>
	<p>主辦者：{{ meetup.activity.owner.username }}</p>
	</div>
	<div class="flex items-start gap-2 mb-4">
		聚會名稱：
		<h3 class="font-bold text-lg text-gray-800">{{ meetup.activity.title }}</h3>
		

	</div>

	{% comment %} 參加者 {% endcomment %}
	<div class="flex">
	目前參加者：
		{% for participation in meetup.activity.participants.all|slice:":2" %}
		<div
			class="w-8 h-8"
			style="margin-left: {% if not forloop.first %}-0.5rem{% endif %}"
		>
			<div
				class="w-full h-full rounded-[24px] ring-2 ring-white overflow-hidden bg-gray-200"
			>
				{% if participation.participant.avatar %}
				<img
					class="w-full h-full object-cover"
					src="{{ participation.participant.avatar.url }}"
					alt="{{ participation.participant.username }}"
					title="{{ participation.participant.username }}"
					loading="lazy"
				/>
				{% else %}
				<div class="w-full h-full flex items-center justify-center">
					<span class="text-xs text-gray-600 font-medium">
						{{ participation.participant.username|first }}
					</span>
				</div>
				{% endif %}
			</div>
		</div>
		{% endfor %} {% if meetup.total_count > 3 %}
		<div class="w-8 h-8" style="margin-left: -0.5rem">
			<div
				class="w-full h-full rounded-[24px] ring-2 ring-white bg-gray-200 text-sm text-gray-600 font-medium flex items-center justify-center"
			>
				+{{ meetup.total_count|add:"-3" }}
			</div>
		</div>
		{% endif %}
	</div>
	
  <br>
    <div class="flex justify-center items-center ">
  <button type="submit" name="leave" class="bg-moordule-pink text-white px-4 py-2 rounded-[24px] hover:bg-red-600">退出活動</button>
</div>


</div>
