{% extends "base/layout.html" %}

<!-- prettier-ignore -->
{%block head%}
<link
	rel="stylesheet"
	href="https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css"
/>
{% endblock head %}
<!-- prettier-ignore -->
{% block content %}

<div class="relative">
	<div class="absolute left-40 top-16">
		{% include 'shared/image_preview.html' %}
	</div>

	{% navigator %}
</div>

<div id="main-content">
	<!-- prettier-ignore -->
	{% include 'users/components/'|add:tag|add:'.html' %}
</div>
{% endblock %}
