
<!DOCTYPE html>
<html lang="zh-Hant">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>登入 - MOODGELE 多揪</title>
  <link rel="stylesheet" href="/static/css/Css_reagister.css"> 
  <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-rounded/css/uicons-regular-rounded.css'>




<main>
<!-- 主要內容區塊 -->
<div class="content-container">
    <div class="for-left-form">
        <!-- LOGO區域 -->
       <div class="main-logo logo-01">
       <img src="https://fakeimg.pl/500x125/" alt="LOGO 01" />
       </div>
       <div class="main-logo logo-02">
       <img src="https://fakeimg.pl/500x125/" alt="LOGO 02" />
       </div>


        <section class="user-reviews">
          <div class="review-box">
            <p>這是活動推薦 1。</p>
          </div>
          <div class="review-box">
            <p>這是活動推薦 2。</p>
          </div>
        </section>
    </div>
  

  <div class="for-right-form"  >
    <section class="welcome-section"> 
     
      <h1>好朋友歡迎回來</h1>

      <!-- 表單區 -->
      <form class="register-form">
        <input type="password" placeholder="輸入帳號">
        <input type="password" placeholder="輸入密碼">
  
      </form>
        <div class="login-container">
         <button type="submit" data-role="login"><a href="#" class="login-link">登入</a></button>
         <a href="#" class="forgot-password">忘記密碼</a>
        </div>
         <div class="divider">OR</div>
      <button class="google-btn" ><i class="fi fi-rr-circle-g"></i>  Google 登入</button>
      <p class="already-account">尚未擁有帳號？</p>
             <button type="submit" data-role="register"><a href="#">註冊</a></button>
    </section>
  </div>
 

</div>
</main>

</body>
</html>
