{% extends "base/layout.html" %} {% load static %}
<!---->
{% block head %}
<title>隱私政策</title>
{% endblock head %} {% block content %}
  
<section class="container mx-auto pt-20">
  <h1 class="text-2xl font-bold pt-4">「Moordule 多揪<sup>TM</sup> 交友平台網站」聚會創建與扣點規則</h1>

  <p class="my-4">
    非常感謝您使用「Moordule 多揪<sup>TM</sup> 交友平台網站」（以下簡稱「本平台」）。為了保障您的權益，請在創建聚會和參加活動前，仔細閱讀以下的服務規範及規則，並同意遵守相關條款。
  </p>
  
  <h2 class="text-xl pt-4">一、 聚會創建規則</h2>
  <p class="my-4">
    當您創建聚會時，您同意遵守以下規則：
  </p>
  <ul class="my-4">
    <li>1. 聚會創建完成後，恕不接受退還點數。</li>
    <li>2. 您同意遵守本平台的服務規則，並接受平台對您行為是否符合規範的最終決定。</li>
    <li>3. 若本平台判斷您的行為重大違規或違反法律，將立即終止您使用本平台的服務，並解除合約關係。</li>
    <li>4. 若您因違規行為造成本平台或第三方損失，您需承擔賠償責任並支付相關費用（包括律師費及其他法律程序費用）。</li>
    <li>5. 若未能完成付款或違規，本平台有權終止您的會員資格，並刪除您創建的聚會。</li>
  </ul>

  <h2 class="text-xl pt-4">二、 扣點規則</h2>
  <p class="my-4">
    在創建聚會後，您的錢包將扣除相應的點數或金額。若您未能如約舉行聚會，需自行刪除創建的活動，才能退還已扣除的金額或點數。
  </p>
  <ul class="my-4">
    <li>1. 聚會創建後的扣款不接受退款，除非您主動取消並刪除聚會。</li>
    <li>2. 如果您未能按時舉行聚會，您必須刪除該活動，才能退還已扣除的金額或點數。</li>
    <li>3. 平台對於未刪除的聚會，將不予退款，並可能對未履行規範的用戶進行懲罰。</li>
  </ul>

  <h2 class="text-xl pt-4">三、 平台服務規範</h2>
  <p class="my-4">
    以下為本平台的服務規範，請您詳細閱讀：
  </p>
  
  <h2 class="text-xl pt-4">1. 平台服務概述</h2>
  <p class="my-4">
    1.1 本平台提供聚會創建、參與及管理等服務，旨在提供一個社交互動的環境。  
    1.2 用戶可創建、管理聚會或參與其他用戶創建的聚會。  
  </p>

  <h2 class="text-xl pt-4">2. 用戶資格與帳號管理</h2>
  <p class="my-4">
    2.1 用戶在註冊時需提供真實的個人資訊，並同意遵守本平台的服務條款。  
    2.2 用戶應妥善保管帳號密碼，並對其帳號的活動負責。  
    2.3 本平台有權終止違規用戶的帳號及相關服務。
  </p>

  <h2 class="text-xl pt-4">3. 聚會創建與參與</h2>
  <p class="my-4">
    3.1 用戶創建聚會時，應遵守本平台的內容規範，並確保活動的合法性與真實性。  
    3.2 用戶參加聚會時，應遵守聚會規範，保持尊重和文明的行為。
  </p>

  <h2 class="text-xl pt-4">4. 付款與扣點規範</h2>
  <p class="my-4">
    4.1 用戶創建或參加聚會時，必須通過平台進行付款。付款完成後，點數或金額將被扣除。  
    4.2 若活動未成功舉行，平台將依規定進行退款處理，且僅在用戶主動取消聚會後進行退還。
  </p>

  <h2 class="text-xl pt-4">5. 平台責任與免責條款</h2>
  <p class="my-4">
    5.1 平台將盡力提供穩定的服務，但對於不可抗力的情況（如自然災害、技術問題等）無法完全控制的情況不負責。  
    5.2 對於用戶間的直接交易或互動，平台不承擔任何責任。
  </p>

  <h2 class="text-xl pt-4">6. 隱私政策與數據保護</h2>
  <p class="my-4">
    6.1 本平台將收集必要的個人資料來提供服務，並對用戶資料進行嚴格保護。  
    6.2 用戶可隨時查閱、更新其個人資料並依需求刪除。
  </p>

  <h2 class="text-xl pt-4">7. 禁止行為與懲罰</h2>
  <p class="my-4">
    7.1 用戶不得發佈任何非法、不當或侵犯他人權益的內容。  
    7.2 對於違規用戶，平台將根據情況采取警告、暫停或終止帳號等措施。
  </p>

  <h2 class="text-xl pt-4">8. 法律適用與爭議解決</h2>
  <p class="my-4">
    8.1 本規範遵循平台所在地的法律。  
    8.2 如發生爭議，雙方應首先進行協商，無法解決的可提交所在地法院解決。
  </p>
</section>


{% endblock %}



