{% extends "base/layout.html" %}

 {% block head %}
    <title>聚會聚會建立</title>

    <link rel='stylesheet' href='https://cdn-uicons.flaticon.com/2.6.0/uicons-bold-rounded/css/uicons-bold-rounded.css'>
{% endblock head %}


{% block content %}
<div class="bg-gray-100">
    <header class="bg-yellow-500 text-white text-center py-4 text-2xl font-bold">
        建立聚會
    </header>
</div>


    {%comment "" %}建立聚會表單{% endcomment %}
 <form method="POST" class="space-y-4">
            {% csrf_token %}
  
    <div class="max-w-7xl mx-auto mt-8 bg-yellow-300 p-8 rounded-lg shadow-md space-y-8">
     {% comment "" %}分成三等份區域 {% endcomment %}
        <div class="grid grid-cols-3 gap-6">
          {% comment "" %}第一區：照片、聚會名稱、興趣 {% endcomment %}
             <div>
             <div class="bg-white rounded-card">
                <div class="bg-gray-200 rounded-card flex flex-col items-center">
                    <p class="text-center text-gray-700">聚會 photo</p>
                    <i class="fi fi-br-add-image"></i>
                    <div class="bg-gray-300 w-32 h-32 flex items-center justify-center rounded-full mt-4">
                        <i class="fi fi-rr-camera text-gray-600 text-3xl"></i>
                    </div>
                </div>     
            </div>
                <div class="bg-white rounded-card mt-6">
                    <label class="block font-bold text-gray-800 mb-2">聚會名稱：</label>
                    <input type="text" id="title" name="title" value="{{ form_data.title|default:'' }}" required 
                    class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-yellow-500">
                
                    <label class="block font-bold text-gray-800 mb-2">類別：</label>
                    
                    <select name="category" id="category" class="w-full px-4 py-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-yellow-500">
                        <option value="" disabled selected>選擇類別</option>
                        {% for category in categories %}
                            <option value="{{ category.id }}" 
                                {% if form_data and form_data.category == category.id %}selected{% endif %}>
                                {{ category.name }}
                            </option>
                        {% endfor %}
                    </select>


                </div>
            </div>
{% comment "" %}第二區：時間、地點、人數等{% endcomment %}
    
        <div class="bg-white rounded-card space-y-6">
            <h2 class="text-lg font-bold text-gray-800 mb-4">聚會設定</h2>
            
            <p class="text-gray-700">開始時間：</p>
            <input type="datetime-local" id="start_time" name="start_time" value="{{ form_data.start_time|default:'' }}" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500">
                {% if form.start_time.errors %}
                <ul class="errorlist">
                    {% for error in form.start_time.errors %}
                        <li class="text-red-600">{{ error }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <p class="text-gray-700">聚會地點（地址）：</p>
            <input type="text" id="address" name="address" value="{{ form_data.address|default:'' }}" required
                    class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500">
            
            <p class="text-gray-700">聚會時長（小時）：</p>
            <input type="number" id="duration" name="duration" value="{{ form_data.duration|default:1 }}" min="1" required
            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500">



            <p class="text-gray-700">參加人數：</p>
            <input type="number" id="max_participants" name="max_participants" value="{{ form_data.max_participants|default:10 }}" min="1" required
                class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-yellow-500">   
        </div>
{% comment "" %}第三區：聚會描述、創建規則與扣錢規則{% endcomment %}
           
    <div>
        <div class="bg-white rounded-card space-y-6">
            <h2 class="text-lg font-bold text-gray-800 mb-4">聚會詳細</h2>
            <p class="text-gray-700">內容描述：</p>
            <textarea id="description" name="description" required
                class="w-full px-4 py-2 mt-2 rounded-md border border-gray-300 focus:outline-none focus:ring focus:ring-yellow-500">
                {{ form_data.description|default:'' }}
            </textarea>
            </div>
            <br>
            <div class="bg-white rounded-card text-center py-4">
            <p class="text-gray-800 mb-4">創建聚會規則與扣 $ 規則</p>
            <p class="text-gray-700">聚會規則內容：**待更新** Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Reprehenderit sapiente eius provident eos obcaecati, quibusdam possimus tempora
                sit laborum amet dolorum quae facilis tempore dolorem vitae! Vero laborum dolor vel? </p>
        <input type="checkbox" id="agree" name="agree"  required>
        <label for="agree" class="text-gray-800">我已詳細閱讀並了解規則</label>
        <br>
        
        <button class="mt-4 w-full py-3 bg-yellow-500 text-white rounded-full hover:bg-yellow-600">
            建立
        </button>
        </div>
       </div>
    </div>
</form>

{% endblock content %}

