
{% extends "base/layout.html" %} {% block head %}
    <title>更新聚會</title>
{% endblock head %} {% block content %}

    <h1>更新聚會</h1>
    {% if error_message %}
        <p style="color: red;">{{ error_message }}</p>
    {% endif %}
    <form method="POST">
        {% csrf_token %}
        <label for="title">聚會標題：</label>
        <input type="text" id="title" name="title" value="{{ activity.title }}" required><br>

        <label for="description">聚會描述：</label>
        <textarea id="description" name="description">{{ activity.description }}</textarea><br>

        <label for="address">聚會地址：</label>
        <input type="text" id="address" name="address" value="{{ activity.address }}" required><br>

        <label for="start_time">開始時間：</label>
        <input type="datetime-local" id="start_time" name="start_time" value="{{ activity.start_time|date:"Y-m-d\TH:i" }}" required><br>

        <label for="duration">持續時間（小時）：</label>
        <input type="number" id="duration" name="duration" value="{{ activity.duration }}" min="1" required><br>

         <label class="block font-bold text-gray-800 mb-2">聚會類別：</label>
        {{ form.category }}
        {% for error in form.category.errors %}
            <p style="color: red;">{{ error }}</p>
        {% endfor %}
        <br>




        <label for="max_participants">參加人數上限：</label>
        <input type="number" id="max_participants" name="max_participants" value="{{ activity.max_participants }}" min="1" required><br>

        <button type="submit">更新聚會</button>

    </form>
</body>

{% endblock content %}
