{% extends "base/layout.html" %} <br />
{% block head %}
<title>Checkout</title>
{% endblock %} <br />

{% block content%}
<h1 class="text-4xl pt-20 m-8 text-center font-bold">加值方案</h1>

<div class="rounded-[24px] bg-moordule-deep-blue mx-20 flex">
  <section class="bg-white rounded-3xl m-8 basis-2/3 items-center">
    <div class="p-4 gap-4 justify-center">
      <h1 class="text-lg mb-2 text-center mb-4">初來乍到 想試揪</h1>
      <div class="flex justify-center items-baseline">
        <span class="text-sm align-top mt-2">NTD</span>
        <span class="text-5xl font-bold">199</span>
      </div>
      
      <div class="mt-2 flex justify-center">
        <span class="text-sm">for</span>
        <span class="text-2xl ml-2">1 揪</span>
      </div>
      
    <div class="space-y-2 m-8 flex justify-center">
      <ul>
        <li><span class="mr-2">✓</span> 參加聚會$199/次</li>
        <li><span class="mr-2">✓</span> 贈送$50聚會金</li>
      </ul>
    </div>
  
    <div class="flex mx-auto items-center justify-center mt-4 gap-8">
      <form class="bg-moordule-deep-blue rounded-[24px] my-4 px-4 py-2 text-center" method="POST">
        {% csrf_token %}
        <button class="text-white-shadow " type="submit">使用Line Pay付款</button>
      </form>
    </div>
     
  </section>
  
  <section class="basis-1/3 m-8 items-center justify-center">
    <div class="text-center text-3xl mt-4 mb-8 text-white-shadow">其他方案</div>
    <div class="text-center" > 
      <button class="bg-moordule-pink rounded-full  text-2xl  whitespace-nowrap text-white py-4 px-4 my-6">三五成群 長長久久</button>
      <button class="bg-moordule-yellow rounded-full text-2xl  whitespace-nowrap text-white py-4 px-4 my-2">好揪就要 一直揪</button>
    </div>
  </section>
</div>

{% endblock %}
